
.header,
.quote,
.copyright {
  background-color: #1f2937;  
  padding: 10px;
}

.header { 
    font-size: 24px;
    color: #f9faf8;
    display: block;
}

.fourbox {
    display: flex;
    background-color: red;
}
.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    padding: 10px;
}

.bottom {
    background-color: lightblue
    padding: 10px;
    color: yellow; 
}

.button2 {
    border-color: white;
    background-color: #3882f6;
    color: white;
    text-align: right;
   
}

.copyright {
    font-size: small
    padding: 10px;
    text-align: center;
    color: white;
}