
.header,
.quote,
.copyright,
.headtext {
  background-color: #1f2937;  
  padding: 1px;
}

.header { 
    font-size: 24px;
    color: #f9faf8;
    display: flex;
}

.headtext {
    display: flex;
    color: white;
}

.fourbox {
    background-color: white;
    display: flex;
    
}
.box {
    border-color: blue;
    padding: 2%;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    padding: 10px;
}

.bottom {
    background-color: #3882f6 ;
    padding: 10px;
    color: white;
}

.button {
    border-color: white;
    background-color: #3882f6;
    color: white;
    text-align: right;
   
}

.copyright {
    text-align: center;
    font-size: small; 
    padding: 10px;
    color: white;
       
}
